{
  "openapi": "3.1.0",
  "info": {
    "title": "TrueScrape API",
    "version": "0.1.0",
    "description": "Unified social media data API with a normalised cross-platform schema,\nasync jobs, batching, and change subscriptions.\n\n**Billing guarantees**\n- You are never charged for a failed request.\n- You are never charged for an empty result.\n- Cache hits cost 0 credits.\n- Every endpoint publishes its price as `x-credit-cost` in this spec."
  },
  "servers": [
    {
      "url": "https://api.truescrape.com",
      "description": "API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "amazon"
    },
    {
      "name": "apple-music"
    },
    {
      "name": "bluesky"
    },
    {
      "name": "inference"
    },
    {
      "name": "ebay"
    },
    {
      "name": "facebook"
    },
    {
      "name": "identity"
    },
    {
      "name": "github"
    },
    {
      "name": "google"
    },
    {
      "name": "instagram"
    },
    {
      "name": "kick"
    },
    {
      "name": "komi"
    },
    {
      "name": "kwai"
    },
    {
      "name": "linkbio"
    },
    {
      "name": "linkedin"
    },
    {
      "name": "linkme"
    },
    {
      "name": "linktree"
    },
    {
      "name": "milkshake"
    },
    {
      "name": "pillar"
    },
    {
      "name": "pinterest"
    },
    {
      "name": "reddit"
    },
    {
      "name": "redfin"
    },
    {
      "name": "rumble"
    },
    {
      "name": "snapchat"
    },
    {
      "name": "solo"
    },
    {
      "name": "soundcloud"
    },
    {
      "name": "spotify"
    },
    {
      "name": "taplink"
    },
    {
      "name": "telegram"
    },
    {
      "name": "threads"
    },
    {
      "name": "tiktok"
    },
    {
      "name": "truthsocial"
    },
    {
      "name": "twitch"
    },
    {
      "name": "twitter"
    },
    {
      "name": "walmart"
    },
    {
      "name": "youtube"
    },
    {
      "name": "zillow"
    }
  ],
  "paths": {
    "/v1/amazon/offers": {
      "get": {
        "summary": "All seller offers for a product",
        "description": "Every offer on an Amazon listing — price, seller, condition, Prime eligibility and shipping — alongside the product itself.\n**Cost:** 3 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "amazon_offers",
        "tags": [
          "amazon"
        ],
        "x-credit-cost": 3,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Amazon ASIN, e.g. \"B08N5WRWNW\"",
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Marketplace TLD, default \"com\". One of: com, co.uk, ca, de, es, fr, ie, it, co.jp, co.za, in, cn, com.sg, com.mx, ae, com.br, nl, com.au, com.tr, sa, se, pl",
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Best-effort locale hint (ISO 3166-1 alpha-2).",
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter offers to one condition.",
              "type": "string",
              "enum": [
                "new",
                "used_like_new",
                "used_very_good",
                "used_good",
                "used_acceptable"
              ]
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/amazon/product": {
      "get": {
        "summary": "Product details",
        "description": "Public details for one Amazon listing: title, brand, price, availability, rating, specifications and an inline review sample.\n**Cost:** 3 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "amazon_product",
        "tags": [
          "amazon"
        ],
        "x-credit-cost": 3,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Amazon ASIN, e.g. \"B08N5WRWNW\"",
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Marketplace TLD, default \"com\". One of: com, co.uk, ca, de, es, fr, ie, it, co.jp, co.za, in, cn, com.sg, com.mx, ae, com.br, nl, com.au, com.tr, sa, se, pl",
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Best-effort locale hint (ISO 3166-1 alpha-2).",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/amazon/search": {
      "get": {
        "summary": "Search results",
        "description": "Public Amazon search results for a query: position, price, rating and badges per item.\n**Cost:** 3 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "amazon_search",
        "tags": [
          "amazon"
        ],
        "x-credit-cost": 3,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search terms, e.g. \"wireless mouse\"",
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Marketplace TLD, default \"com\". One of: com, co.uk, ca, de, es, fr, ie, it, co.jp, co.za, in, cn, com.sg, com.mx, ae, com.br, nl, com.au, com.tr, sa, se, pl",
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Best-effort locale hint (ISO 3166-1 alpha-2).",
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/amazon/shop": {
      "get": {
        "summary": "Amazon Shop page",
        "description": "A creator's public Amazon storefront: their name, the product links the page exposes, and the storefront feed — idea lists (with Amazon's own item count), shoppable videos (id, title, thumbnail and attached ASINs) and shoppable photos. The first request needs no pageToken and already returns the videos embedded on the page. Pass `pagination.cursor` back as `pageToken`, unchanged, with the same shop URL for the next page; a page can carry lists, videos, photos or any mix. A continuation page carries the feed ONLY — Amazon serves it as a fragment with no profile markup, so every identity field (display name, bio, avatar) is null on page two onwards. ASINs are the products the storefront shows attached to an item, which for a long idea list is the first screenful rather than the whole list; `itemCount` is the true total.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "amazon_shop",
        "tags": [
          "amazon"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Storefront URL (https://www.amazon.com/shop/<handle>) or just the handle",
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Opaque page token returned by a previous response for the same shop URL. Pass it back unchanged and do not infer the response type from its value.",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/album": {
      "get": {
        "summary": "Album details",
        "description": "Public Apple Music album: artist, release date, genre, copyright, artwork and total runtime. The full track listing is in `raw` — add `include_raw=true`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_album",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music album id (1708308989) or a music.apple.com album URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "description": "Apple Music album id (1708308989) or a music.apple.com album URL",
              "type": "string"
            },
            "description": "Alias for `id`, accepted for compatibility. Sending both with different values is rejected."
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/artist": {
      "get": {
        "summary": "Artist details",
        "description": "Public Apple Music artist page: editorial bio, artist image and genre. Apple publishes no follower or play counts, so those fields are null rather than guessed.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_artist",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music artist id (159260351) or a music.apple.com artist URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "description": "Apple Music artist id (159260351) or a music.apple.com artist URL",
              "type": "string"
            },
            "description": "Alias for `id`, accepted for compatibility. Sending both with different values is rejected."
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/search": {
      "get": {
        "summary": "Search",
        "description": "Search the Apple Music catalogue for tracks, albums or artists. Tracks and albums come back as posts; artists come back as creators.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_search",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search terms",
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "default": "track",
              "type": "string",
              "enum": [
                "track",
                "album",
                "artist"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Two-letter storefront, e.g. us, gb, de",
              "default": "us",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/track": {
      "get": {
        "summary": "Track details",
        "description": "Public Apple Music track: artist, album, duration, genre, release date and the 30-second preview URL.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_track",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music track id (1833328840), a /song/ URL, or an album URL with ?i=<track id>",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "description": "Apple Music track id (1833328840), a /song/ URL, or an album URL with ?i=<track id>",
              "type": "string"
            },
            "description": "Alias for `id`, accepted for compatibility. Sending both with different values is rejected."
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/post": {
      "get": {
        "summary": "Post",
        "description": "A single public Bluesky post with like, reply, repost and quote counts, plus any attached images or video.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_post",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Post URL (https://bsky.app/profile/<handle>/post/<id>) or an at:// URI",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/profile": {
      "get": {
        "summary": "Profile",
        "description": "Public profile for a Bluesky account: followers, following, post count, bio, avatar, banner, and verification status.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_profile",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Handle (alice.bsky.social), a did:plc:… identifier, or a bsky.app profile URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/user/posts": {
      "get": {
        "summary": "User posts",
        "description": "Recent public posts from a Bluesky account, newest first. Reposts are excluded by default so the feed reflects what the account actually wrote.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_userPosts",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Handle, did, or bsky.app profile URL",
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "include_reposts",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include reposts of other accounts. Default false.",
              "type": "boolean"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/detect-age-gender": {
      "get": {
        "summary": "Estimate age and gender from an image",
        "description": "Apparent age and gender estimated from a public image URL. This is a model ESTIMATE, not measured platform data, and every response is labelled as such. Requires an inference provider to be configured on the deployment.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "inference_ageGender",
        "tags": [
          "inference"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "x-experimental": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Public image URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/ebay/product": {
      "get": {
        "summary": "eBay listing details",
        "description": "Public details for an eBay listing: title, price, condition, seller and an inline sample of reviews.\n**Required:** Pass either `product_id` or `url`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "ebay_product",
        "tags": [
          "ebay"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "x-experimental": true,
        "x-parameter-constraints": [
          "Pass either `product_id` or `url`."
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Numeric eBay item id, e.g. 166619046796",
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "eBay listing URL, e.g. https://www.ebay.com/itm/166619046796",
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "description": "eBay marketplace, default com. One of: com, co.uk, com.au, de, ca, fr, it, es, at, ch, com.sg, com.my, ph, ie, pl, nl",
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/ebay/search": {
      "get": {
        "summary": "Search eBay listings",
        "description": "Public eBay search results for a query, with eBay's own filters and sort orders.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "ebay_search",
        "tags": [
          "ebay"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "x-experimental": true,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search terms, e.g. \"iphone 13\"",
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "description": "eBay marketplace, default com. One of: com, co.uk, com.au, de, ca, fr, it, es, at, ch, com.sg, com.my, ph, ie, pl, nl",
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ending_soonest",
                "newly_listed",
                "price_lowest",
                "price_highest",
                "distance_nearest",
                "best_match"
              ]
            }
          },
          {
            "name": "seller_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma list: new, used, open_box, refurbished, for_parts, not_working",
              "type": "string"
            }
          },
          {
            "name": "buying_format",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma list: buy_it_now, auction, accepts_offers",
              "type": "string"
            }
          },
          {
            "name": "show_only",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma list: returns_accepted, authorized_seller, completed_items, sold_items, sale_items, listed_as_lots, search_in_description, benefits_charity, authenticity_guarantee",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/ad": {
      "get": {
        "summary": "Ad details",
        "description": "One ad from the Meta Ad Library by its archive id. Meta does not expose the archive as an addressable node for every ad; pass `page_id` as well and we find it by scanning that advertiser's archive instead.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_ad",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Ad archive id, or an Ad Library URL containing `?id=`",
              "type": "string"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The advertiser's page id. Enables the archive-scan fallback.",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Reached country used by the fallback scan",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "description": "Ad archive id, or an Ad Library URL containing `?id=`",
              "type": "string"
            },
            "description": "Alias for `id`, accepted for compatibility. Sending both with different values is rejected."
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/ad-transcript": {
      "get": {
        "summary": "Ad video transcript",
        "description": "Retrieves a transcript for a single Facebook Ad Library video ad by ID or URL. If Facebook exposes captions for the ad's video, those are used (`source: \"captions\"`). An ad with no video, or a video with no caption track, returns an empty result and is not charged — the same answer every other transcript endpoint gives for the same fact. Credits are only deducted when a transcript is actually returned. Pass `transcribe_fallback=true` to have us transcribe the ad's audio when Facebook publishes no caption track: it adds 10 credits to this call, applies only to videos under 120 seconds, and the surcharge is refunded whenever we did not transcribe. It has to be enabled on this deployment; where it is not, a request carrying it answers `not_configured` (501) and is never charged. `source` says which path produced the text: `captions` for Facebook's own track, `asr` for ours.\n**Required:** Pass exactly one of `id` or `url`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_adTranscript",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "x-experimental": true,
        "x-parameter-constraints": [
          "Pass exactly one of `id` or `url`."
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ad archive id, or an Ad Library URL containing `?id=`",
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "An Ad Library URL containing `?id=`",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Preferred caption locale",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/advertisers": {
      "get": {
        "summary": "Find advertisers running ads",
        "description": "Distinct advertisers whose ads match a search term, with the `page_id` needed by /v1/facebook/ad-library/page-ads. Derived from the official Ad Library search — Meta has no advertiser-search endpoint of its own.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_adLibraryAdvertisers",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Advertiser name or a term from their ad copy",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads sampled, 1-100. More ads means more advertisers.",
              "type": "number"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/page-ads": {
      "get": {
        "summary": "All ads for one advertiser",
        "description": "Every ad a specific Facebook page is running or has run, from Meta's official Ad Library API. This is the competitor-monitoring endpoint: page it with `cursor` to pull a full creative history.\n**Cost:** 2 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pageAds",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 2,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Numeric page id, or an Ad Library URL containing `view_all_page_id`",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO-3166 country code(s) the ad reached, comma-separated. Meta requires at least one.",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery status at the time of the query.",
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`political` unlocks Meta's spend, impression and demographic fields.",
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "political",
                "housing",
                "employment",
                "credit"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "image",
                "meme",
                "video",
                "none"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated: facebook, instagram, messenger, audience_network, threads, whatsapp, oculus",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated BCP-47 codes, e.g. \"en,es\"",
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Earliest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads per page, 1-100. Default 25.",
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/search": {
      "get": {
        "summary": "Search the Meta Ad Library",
        "description": "Every Facebook, Instagram, Messenger and Threads ad matching a search term, from Meta's official Ad Library API. Political and issue ads additionally carry spend and impression ranges.\n**Cost:** 2 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_adLibrarySearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 2,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search term, matched against ad text and advertiser name",
              "type": "string"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`exact_phrase` matches the words in order",
              "default": "unordered",
              "type": "string",
              "enum": [
                "unordered",
                "exact_phrase"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO-3166 country code(s) the ad reached, comma-separated. Meta requires at least one.",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery status at the time of the query.",
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`political` unlocks Meta's spend, impression and demographic fields.",
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "political",
                "housing",
                "employment",
                "credit"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "image",
                "meme",
                "video",
                "none"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated: facebook, instagram, messenger, audience_network, threads, whatsapp, oculus",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated BCP-47 codes, e.g. \"en,es\"",
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Earliest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads per page, 1-100. Default 25.",
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/city-events": {
      "get": {
        "summary": "Get the events of a city",
        "description": "Public events Facebook is suggesting for a city, from its Events Explore feed — e.g. https://www.facebook.com/events/explore/saint-petersburg-florida/111326725552547. `time` narrows the window to today, this week, or next week; without it Facebook returns whatever it has queued as upcoming, in whatever order it ranks them. Only the first, server-rendered page: host, description and interested-count are not exposed on this listing (only on /v1/facebook/event), and further pages sit behind an authenticated scroll load — `raw.hasMoreBehindCursor` reports whether Facebook says there is more, which this endpoint cannot fetch.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_cityEvents",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "x-experimental": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Explore URL (\"facebook.com/events/explore/<city-slug>/<id>\") or a bare \"<city-slug>/<id>\" pair",
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Narrow to Facebook's own window. Defaults to all upcoming.",
              "type": "string",
              "enum": [
                "today",
                "this_week",
                "next_week"
              ]
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/comment-replies": {
      "get": {
        "summary": "Replies to a comment",
        "description": "Replies under one comment on a public Facebook post. Pass the post URL and the comment id (the `id` of any item from /v1/facebook/post-comments).\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_commentReplies",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post URL the comment sits on",
              "type": "string"
            }
          },
          {
            "name": "comment_id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Numeric comment id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/event": {
      "get": {
        "summary": "Event details",
        "description": "Full details for one public Facebook event: description, start and end time, venue with coordinates, host and ticket price range.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_event",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Event URL or numeric event id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/events/search": {
      "get": {
        "summary": "Search public events",
        "description": "Public Facebook events matching a search term. Results are ranked and location-biased by the exit IP, so the same query returns a different set from a different proxy — treat this as discovery, not as an enumerable list.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_eventsSearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "What to search for, e.g. \"jazz festival\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/group": {
      "get": {
        "summary": "Public group info",
        "description": "Name, member count, privacy setting and description for a public Facebook group. Member count lands in `followerCount` — it is a group's equivalent of an audience size — and the privacy setting in `category`. Facebook rounds that count on large groups (\"12K members\"); `raw.memberCountIsApproximate` says whether the number you got was rounded.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_group",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Group URL, group id, or group slug",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "get": {
        "summary": "Public group posts",
        "description": "Recent posts from a public Facebook group, with reaction, comment and share counts where Facebook renders them. Only the newest few stories render to a logged-out visitor, the same limit /v1/facebook/page-posts has. Private groups return an empty result — their posts are not public and we do not log in.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_groupPosts",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Group URL, group id, or group slug",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/item": {
      "get": {
        "summary": "Marketplace listing details",
        "description": "One public Facebook Marketplace listing: title, full description, price, location, delivery options and every photo. Facebook does not render the seller to a logged-out visitor, so seller identity is not returned.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceItem",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Marketplace item URL or numeric listing id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/locations": {
      "get": {
        "summary": "Find a Marketplace location",
        "description": "Resolve a place name to the Marketplace location ids /v1/facebook/marketplace/search accepts, plus the neighbouring locations Facebook offers around it. Marketplace is city-scoped, so this is how you search a city you are not sitting in.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceLocations",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Place name, e.g. \"London\" or \"San Francisco\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/search": {
      "get": {
        "summary": "Search Marketplace listings",
        "description": "Public Facebook Marketplace listings matching a search term, with price, condition flags, location and photos. `location` takes a city slug or a location id from /v1/facebook/marketplace/locations; without one, Facebook picks the city its geolocation puts the request in, which means the proxy decides.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceSearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "What to search for, e.g. \"mountain bike\"",
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "description": "City slug (\"nyc\", \"london\") or a location id from /v1/facebook/marketplace/locations",
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Lowest price, in the location's currency",
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Highest price, in the location's currency",
              "type": "number"
            }
          },
          {
            "name": "days_since_listed",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Only listings posted in the last N days",
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search radius around the location, in kilometres",
              "type": "number"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Facebook's own sort keys",
              "type": "string",
              "enum": [
                "best_match",
                "creation_time_descend",
                "price_ascend",
                "price_descend",
                "distance_ascend"
              ]
            }
          },
          {
            "name": "delivery_method",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Restrict to collection-only or shipped listings",
              "type": "string",
              "enum": [
                "local_pick_up",
                "shipping"
              ]
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/page-posts": {
      "get": {
        "summary": "Public Page posts",
        "description": "Recent public posts from a Facebook Page, with text, reaction, comment and share counts, and the publish timestamp. Logged out, Facebook server-renders only the newest one to three stories and loads the rest on scroll behind an authenticated call — measured 2026-08-20 across four different Page URL shapes — so this returns the head of the feed, not its history. `raw.hasMoreBehindCursor` reports whether Facebook says there is more.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pagePosts",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/page-reels": {
      "get": {
        "summary": "Public Page videos and reels",
        "description": "Public videos and reels from a Facebook Page. Reads the Page's reels tab first and falls back to its video grid, which renders around twenty entries with titles, view counts and durations — so a Page with no reels returns its videos rather than an error. Items are keyed by video id and can be passed straight to /v1/facebook/post or /v1/facebook/post-transcript.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pageReels",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/post": {
      "get": {
        "summary": "Single post, video, or reel",
        "description": "One public Facebook post, video or reel by URL, with its text and engagement counts.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_post",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post, video, or reel URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/post-comments": {
      "get": {
        "summary": "Comments on a post",
        "description": "Top-level comments on a public Facebook post, with author, reaction count and reply count. Logged out, Facebook renders the \"Most relevant\" head of the thread (roughly the first ten comments) rather than the whole thread — the post's full comment total is on /v1/facebook/post. Use /v1/facebook/comment-replies for the replies under one comment. `likeCount` is only as precise as Facebook publishes it: comment reactions ship in abbreviated form (\"2.4K\") with no exact figure anywhere in the payload, so counts above about a thousand are rounded at source.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_postComments",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post, video, or reel URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
[...]
