{
  "openapi": "3.1.0",
  "info": {
    "title": "TrueScrape API",
    "version": "0.1.0",
    "description": "Unified social media data API with a normalised cross-platform schema,\nasync jobs, batching, and change subscriptions.\n\n**Billing guarantees**\n- You are never charged for a failed request.\n- You are never charged for an empty result.\n- Cache hits cost 0 credits.\n- Every endpoint publishes its price as `x-credit-cost` in this spec."
  },
  "servers": [
    {
      "url": "https://api.truescrape.com",
      "description": "API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "amazon"
    },
    {
      "name": "apple-music"
    },
    {
      "name": "bluesky"
    },
    {
      "name": "inference"
    },
    {
      "name": "facebook"
    },
    {
      "name": "github"
    },
    {
      "name": "google"
    },
    {
      "name": "instagram"
    },
    {
      "name": "kick"
    },
    {
      "name": "komi"
    },
    {
      "name": "kwai"
    },
    {
      "name": "linkbio"
    },
    {
      "name": "linkedin"
    },
    {
      "name": "linkme"
    },
    {
      "name": "linktree"
    },
    {
      "name": "pillar"
    },
    {
      "name": "pinterest"
    },
    {
      "name": "reddit"
    },
    {
      "name": "rumble"
    },
    {
      "name": "snapchat"
    },
    {
      "name": "soundcloud"
    },
    {
      "name": "spotify"
    },
    {
      "name": "threads"
    },
    {
      "name": "tiktok"
    },
    {
      "name": "truthsocial"
    },
    {
      "name": "twitch"
    },
    {
      "name": "twitter"
    },
    {
      "name": "youtube"
    }
  ],
  "paths": {
    "/v1/amazon/shop": {
      "get": {
        "summary": "Amazon Shop page",
        "description": "A creator's public Amazon storefront: their name, and the product links the page exposes.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "amazon_shop",
        "tags": [
          "amazon"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Storefront URL (https://www.amazon.com/shop/<handle>) or just the handle",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/album": {
      "get": {
        "summary": "Album details",
        "description": "Public Apple Music album: artist, release date, genre, copyright, artwork and total runtime. The full track listing is in `raw` — add `include_raw=true`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_album",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music album id (1708308989) or a music.apple.com album URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/artist": {
      "get": {
        "summary": "Artist details",
        "description": "Public Apple Music artist page: editorial bio, artist image and genre. Apple publishes no follower or play counts, so those fields are null rather than guessed.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_artist",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music artist id (159260351) or a music.apple.com artist URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/search": {
      "get": {
        "summary": "Search",
        "description": "Search the Apple Music catalogue for tracks, albums or artists. Tracks and albums come back as posts; artists come back as creators.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_search",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search terms",
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "default": "track",
              "type": "string",
              "enum": [
                "track",
                "album",
                "artist"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Two-letter storefront, e.g. us, gb, de",
              "default": "us",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/apple-music/track": {
      "get": {
        "summary": "Track details",
        "description": "Public Apple Music track: artist, album, duration, genre, release date and the 30-second preview URL.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "appleMusic_track",
        "tags": [
          "apple-music"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Apple Music track id (1833328840), a /song/ URL, or an album URL with ?i=<track id>",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/post": {
      "get": {
        "summary": "Post",
        "description": "A single public Bluesky post with like, reply, repost and quote counts, plus any attached images or video.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_post",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Post URL (https://bsky.app/profile/<handle>/post/<id>) or an at:// URI",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/profile": {
      "get": {
        "summary": "Profile",
        "description": "Public profile for a Bluesky account: followers, following, post count, bio, avatar, banner, and verification status.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_profile",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Handle (alice.bsky.social), a did:plc:… identifier, or a bsky.app profile URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/bluesky/user/posts": {
      "get": {
        "summary": "User posts",
        "description": "Recent public posts from a Bluesky account, newest first. Reposts are excluded by default so the feed reflects what the account actually wrote.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "bluesky_userPosts",
        "tags": [
          "bluesky"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Handle, did, or bsky.app profile URL",
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "include_reposts",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include reposts of other accounts. Default false.",
              "type": "boolean"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/detect-age-gender": {
      "get": {
        "summary": "Estimate age and gender from an image",
        "description": "Apparent age and gender estimated from a public image URL. This is a model ESTIMATE, not measured platform data, and every response is labelled as such. Requires an inference provider to be configured on the deployment.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "inference_ageGender",
        "tags": [
          "inference"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": false,
        "x-experimental": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Public image URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/ad": {
      "get": {
        "summary": "Ad details",
        "description": "One ad from the Meta Ad Library by its archive id. Meta does not expose the archive as an addressable node for every ad; pass `page_id` as well and we find it by scanning that advertiser's archive instead.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_ad",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Ad archive id, or an Ad Library URL containing `?id=`",
              "type": "string"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The advertiser's page id. Enables the archive-scan fallback.",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Reached country used by the fallback scan",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/advertisers": {
      "get": {
        "summary": "Find advertisers running ads",
        "description": "Distinct advertisers whose ads match a search term, with the `page_id` needed by /v1/facebook/ad-library/page-ads. Derived from the official Ad Library search — Meta has no advertiser-search endpoint of its own.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_adLibraryAdvertisers",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Advertiser name or a term from their ad copy",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads sampled, 1-100. More ads means more advertisers.",
              "type": "number"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/page-ads": {
      "get": {
        "summary": "All ads for one advertiser",
        "description": "Every ad a specific Facebook page is running or has run, from Meta's official Ad Library API. This is the competitor-monitoring endpoint: page it with `cursor` to pull a full creative history.\n**Cost:** 2 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pageAds",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 2,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Numeric page id, or an Ad Library URL containing `view_all_page_id`",
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO-3166 country code(s) the ad reached, comma-separated. Meta requires at least one.",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery status at the time of the query.",
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`political` unlocks Meta's spend, impression and demographic fields.",
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "political",
                "housing",
                "employment",
                "credit"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "image",
                "meme",
                "video",
                "none"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated: facebook, instagram, messenger, audience_network, threads, whatsapp, oculus",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated BCP-47 codes, e.g. \"en,es\"",
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Earliest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads per page, 1-100. Default 25.",
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/ad-library/search": {
      "get": {
        "summary": "Search the Meta Ad Library",
        "description": "Every Facebook, Instagram, Messenger and Threads ad matching a search term, from Meta's official Ad Library API. Political and issue ads additionally carry spend and impression ranges.\n**Cost:** 2 credits per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_adLibrarySearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 2,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search term, matched against ad text and advertiser name",
              "type": "string"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`exact_phrase` matches the words in order",
              "default": "unordered",
              "type": "string",
              "enum": [
                "unordered",
                "exact_phrase"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO-3166 country code(s) the ad reached, comma-separated. Meta requires at least one.",
              "default": "US",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery status at the time of the query.",
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`political` unlocks Meta's spend, impression and demographic fields.",
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "political",
                "housing",
                "employment",
                "credit"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "image",
                "meme",
                "video",
                "none"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated: facebook, instagram, messenger, audience_network, threads, whatsapp, oculus",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated BCP-47 codes, e.g. \"en,es\"",
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Earliest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latest delivery date, YYYY-MM-DD",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Ads per page, 1-100. Default 25.",
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "`pagination.cursor` from a previous response",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/comment-replies": {
      "get": {
        "summary": "Replies to a comment",
        "description": "Replies under one comment on a public Facebook post. Pass the post URL and the comment id (the `id` of any item from /v1/facebook/post-comments).\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_commentReplies",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post URL the comment sits on",
              "type": "string"
            }
          },
          {
            "name": "comment_id",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Numeric comment id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/event": {
      "get": {
        "summary": "Event details",
        "description": "Full details for one public Facebook event: description, start and end time, venue with coordinates, host and ticket price range.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_event",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Event URL or numeric event id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/events/search": {
      "get": {
        "summary": "Search public events",
        "description": "Public Facebook events matching a search term. Results are ranked and location-biased by the exit IP, so the same query returns a different set from a different proxy — treat this as discovery, not as an enumerable list.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_eventsSearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "What to search for, e.g. \"jazz festival\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/group": {
      "get": {
        "summary": "Public group info",
        "description": "Name, member count, privacy setting and description for a public Facebook group. Member count lands in `followerCount` — it is a group's equivalent of an audience size — and the privacy setting in `category`. Facebook rounds that count on large groups (\"12K members\"); `raw.memberCountIsApproximate` says whether the number you got was rounded.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_group",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Group URL, group id, or group slug",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "get": {
        "summary": "Public group posts",
        "description": "Recent posts from a public Facebook group, with reaction, comment and share counts where Facebook renders them. Only the newest few stories render to a logged-out visitor, the same limit /v1/facebook/page-posts has. Private groups return an empty result — their posts are not public and we do not log in.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_groupPosts",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Group URL, group id, or group slug",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/item": {
      "get": {
        "summary": "Marketplace listing details",
        "description": "One public Facebook Marketplace listing: title, full description, price, location, delivery options and every photo. Facebook does not render the seller to a logged-out visitor, so seller identity is not returned.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceItem",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Marketplace item URL or numeric listing id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/locations": {
      "get": {
        "summary": "Find a Marketplace location",
        "description": "Resolve a place name to the Marketplace location ids /v1/facebook/marketplace/search accepts, plus the neighbouring locations Facebook offers around it. Marketplace is city-scoped, so this is how you search a city you are not sitting in.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceLocations",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Place name, e.g. \"London\" or \"San Francisco\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/marketplace/search": {
      "get": {
        "summary": "Search Marketplace listings",
        "description": "Public Facebook Marketplace listings matching a search term, with price, condition flags, location and photos. `location` takes a city slug or a location id from /v1/facebook/marketplace/locations; without one, Facebook picks the city its geolocation puts the request in, which means the proxy decides.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_marketplaceSearch",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "What to search for, e.g. \"mountain bike\"",
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "description": "City slug (\"nyc\", \"london\") or a location id from /v1/facebook/marketplace/locations",
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Lowest price, in the location's currency",
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Highest price, in the location's currency",
              "type": "number"
            }
          },
          {
            "name": "days_since_listed",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Only listings posted in the last N days",
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search radius around the location, in kilometres",
              "type": "number"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Facebook's own sort keys",
              "type": "string",
              "enum": [
                "best_match",
                "creation_time_descend",
                "price_ascend",
                "price_descend",
                "distance_ascend"
              ]
            }
          },
          {
            "name": "delivery_method",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Restrict to collection-only or shipped listings",
              "type": "string",
              "enum": [
                "local_pick_up",
                "shipping"
              ]
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/page-posts": {
      "get": {
        "summary": "Public Page posts",
        "description": "Recent public posts from a Facebook Page, with text, reaction, comment and share counts, and the publish timestamp. Logged out, Facebook server-renders only the newest one to three stories and loads the rest on scroll behind an authenticated call — measured 2026-08-20 across four different Page URL shapes — so this returns the head of the feed, not its history. `raw.hasMoreBehindCursor` reports whether Facebook says there is more.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pagePosts",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/page-reels": {
      "get": {
        "summary": "Public Page videos and reels",
        "description": "Public videos and reels from a Facebook Page. Reads the Page's reels tab first and falls back to its video grid, which renders around twenty entries with titles, view counts and durations — so a Page with no reels returns its videos rather than an error. Items are keyed by video id and can be passed straight to /v1/facebook/post or /v1/facebook/post-transcript.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_pageReels",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/post": {
      "get": {
        "summary": "Single post, video, or reel",
        "description": "One public Facebook post, video or reel by URL, with its text and engagement counts.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_post",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post, video, or reel URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/post-comments": {
      "get": {
        "summary": "Comments on a post",
        "description": "Top-level comments on a public Facebook post, with author, reaction count and reply count. Logged out, Facebook renders the \"Most relevant\" head of the thread (roughly the first ten comments) rather than the whole thread — the post's full comment total is on /v1/facebook/post. Use /v1/facebook/comment-replies for the replies under one comment. `likeCount` is only as precise as Facebook publishes it: comment reactions ship in abbreviated form (\"2.4K\") with no exact figure anywhere in the payload, so counts above about a thousand are rounded at source.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_postComments",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full post, video, or reel URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/post-transcript": {
      "get": {
        "summary": "Video transcript",
        "description": "Transcript for a public Facebook video or reel, as one text block plus timed cues. Reads the caption track Facebook publishes for the video — auto-generated when the uploader added none. Videos with captions disabled return an empty result and are not charged.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_postTranscript",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Full video or reel URL",
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Preferred caption locale, e.g. \"en\" or \"en_US\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/profile": {
      "get": {
        "summary": "Public Page profile",
        "description": "Name, category, follower and like counts, description, banner and outbound links for a public Facebook Page. `followerCount` is as precise as Facebook renders it — exact on a small Page (\"498 followers\"), rounded on a large one (\"28M followers\", so ±500,000). `raw.followerCountIsApproximate` says which you got, and `raw.likeCount` carries the exact like figure Facebook always prints.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_profile",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/profile-events": {
      "get": {
        "summary": "Events on a Page",
        "description": "Events hosted by a public Facebook Page — upcoming ones first, with past events where Facebook still lists them. Each carries start time, place, host and the cover photo.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_profileEvents",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/facebook/profile-photos": {
      "get": {
        "summary": "Photos on a Page",
        "description": "Photos from a public Facebook Page's photo grid. Facebook exposes each photo's accessibility caption rather than the text of the post it came from, so that is what lands in `title`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "facebook_profilePhotos",
        "tags": [
          "facebook"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": true,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Page URL, @handle, slug, or numeric page id",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/repository": {
      "get": {
        "summary": "Repository details",
        "description": "Public details for a repository: stars, forks, open issues, topics, language and licence. Stars map to `likeCount`, forks to `shareCount`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_repository",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "description": "\"owner/repo\" or a github.com repository URL",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/trending/developers": {
      "get": {
        "summary": "Trending developers",
        "description": "The public github.com/trending/developers board. Counts are null: the board renders names and popular repositories, not follower numbers.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_trendingDevelopers",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": false,
        "x-requires-residential-proxy": false,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language slug, e.g. \"rust\"",
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "default": "daily",
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/trending/repositories": {
      "get": {
        "summary": "Trending repositories",
        "description": "The public github.com/trending board. `likeCount` is total stars and `shareCount` total forks; the stars gained in the period are in `raw`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_trendingRepositories",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": false,
        "x-requires-residential-proxy": false,
        "x-subscribable": false,
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language slug, e.g. \"typescript\"",
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "default": "daily",
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "spoken_language_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Two-letter code, e.g. \"en\"",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/user": {
      "get": {
        "summary": "User or organisation profile",
        "description": "Public profile for a GitHub user or organisation: followers, public repo count, bio, company, location and links.\n**Required:** Pass either `handle` or `url`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_user",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "x-parameter-constraints": [
          "Pass either `handle` or `url`."
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Username, e.g. \"torvalds\"",
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Profile URL, e.g. https://github.com/torvalds",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/user/activity": {
      "get": {
        "summary": "Public activity",
        "description": "Public events for a user — pushes, pull requests, issues, stars, forks and releases. GitHub caps this feed at 300 events / 90 days regardless of paging.\n**Required:** Pass either `handle` or `url`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_activity",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "x-parameter-constraints": [
          "Pass either `handle` or `url`."
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Username, e.g. \"torvalds\"",
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Profile URL, e.g. https://github.com/torvalds",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Page number from the previous response",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "invalid_request — not charged"
          },
          "401": {
            "description": "missing_api_key / invalid_api_key / revoked_api_key — never a billing error"
          },
          "402": {
            "description": "insufficient_credits — the key is valid, the balance is not"
          },
          "429": {
            "description": "daily_cap_exceeded or upstream_rate_limited — not charged"
          },
          "501": {
            "description": "not_configured — server is missing credentials or proxies"
          },
          "502": {
            "description": "upstream_blocked / upstream_schema_drift — not charged"
          },
          "504": {
            "description": "upstream_timeout — not charged"
          }
        }
      }
    },
    "/v1/github/user/contributions": {
      "get": {
        "summary": "Contributions calendar",
        "description": "The contribution graph for one calendar year: a per-day count plus GitHub's 0–4 intensity level, and the annual total.\n**Required:** Pass either `handle` or `url`.\n**Cost:** 1 credit per live request.\n**Cache hits cost 0 credits.**\nFailed and empty responses are never charged.",
        "operationId": "github_contributions",
        "tags": [
          "github"
        ],
        "x-credit-cost": 1,
        "x-render-credit-multiplier": 3,
        "x-cacheable": true,
        "x-batchable": true,
        "x-requires-residential-proxy": false,
        "x-subscribable": true,
        "x-parameter-constraints": [
          "Pass either `handle` or `url`."
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Username, e.g. \"torvalds\"",
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Profile URL, e.g. https://github.com/torvalds",
              "type": "string"
            }
          },
          {
            "name": "cache_max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Calendar year, e.g. \"2025\". Defaults to the current year.",
              "type": "string"
            }
          }
        ],
[...]
